body{
    background:rgb(19, 174, 221) ;
}
h1{
    text-align: center;
    color: rgb(22, 145, 38)
    font-size: 45px;
}
p{
    text-align: center;
    color: rgb(65, 65, 143);
    font-size: 25px;
}
img{
    width:150px;
    margin-left: 300px;
}
.cabecalho{
    background-color:rgb(88, 201, 221);
    display: flex;
}
.logoimg{
    width: 120px;
    margin-left: 120px;
}
.listacabecalho{
    display: flex;
    margin-left: 130px;
    margin-top: 110px;
}
.itemlistacabecalho{
    list-style: none;
    text-transform: uppercase;
    color: rgb(7, 185, 216);
    font-size: 30px;
    padding-left: 35px;
}
.img1{
    width: 300px;
}

.img2{
    width: 320px;
}